@use "../abstract/mixins";
@use "../abstract/variaveis";

// PRIMEIRA SEÇÃO
.painel__perfil {
    margin: 1.5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 5% 20% 20% 50% 5%;
    grid-template-rows: 24% 28% 8%;

    .capa-perfil {
        grid-area: 1 / 1 / 3 / 6;
        width: 100%;

        .img-capa {
            width: 101%;
            max-width: 101%;
        }
    }

    .foto-perfil {
        grid-area: 2 / 2 / 4 / 3;
        position: relative;

        .img-perfil {
            max-width: 100%;
        }
    }

    .textos-perfil {
        background: variaveis.$fundo-card;
        border-radius: 0 0 16px 16px;
        color: #fff;
        text-align: left;
        @include mixins.flex-box(space-between, center);
        grid-area: 4 / 2 / 5 / 5;
        line-height: 25px;
        .informacoes-perfil {
            .perfil-nome {
                @include mixins.fonte-style(24px, 600, variaveis.$texto-principal);
                line-height: 30px;
            }
            .perfil-titulo {
                @include mixins.fonte-style(16px, 600, variaveis.$texto-principal);
            }
            .perfil-especificacoes {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
            }
            .perfil-local {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);

                span {
                    color: variaveis.$primario;
                    font-weight: 700;
                }
            }

            .perfil-seguidores {
                @include mixins.fonte-style(14px, 500, variaveis.$primario);

                span {
                    color: variaveis.$texto-secundario;
                }
            }

            .botoes {
                margin-top: 1rem;
            }

            .botao-mensagem {
                border: 1px solid variaveis.$primario;
                border-radius: 16px;
                background: variaveis.$primario;
                padding: 6px 29px;
                @include mixins.fonte-style(14px, 600, variaveis.$texto-escuro);
                cursor: pointer;
            }

            .botao-mais {
                @extend .botao-mensagem;
                background: variaveis.$fundo-card;
                @include mixins.fonte-style(14px, 600, variaveis.$primario);
            }
        }

        .empresa-instituicao {
            @include mixins.flex-box(center, flex-start);
            flex-direction: column;
            row-gap: 0.8rem;

            .links-empresa-instituicao {
                @include mixins.flex-box(none, center);
                column-gap: 0.5rem;
                @include mixins.fonte-style(16px, 600, variaveis.$texto-principal);
            }
        }
    }
}

// SEGUNDA SEÇÃO
.destaques {
    color: #fff;
    margin: 1.5rem 0;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    padding: 20px 26px;
    max-width: 100%;
    width: 100%;

    .titulo-destaques {
        @include mixins.fonte-style(20px, 600, variaveis.$texto-principal);
        line-height: 60px;
    }

    .cards {
        @include mixins.flex-box(center, center);
        column-gap: 1rem;
    }

    .box-destaques {
        border: 1px solid variaveis.$texto-secundario;
        border-radius: 8px;
        // padding: 5px;
        line-height: 20px;

        .parte-superior-card {
            padding: 10px 8px;

            .texto__um-destaques {
                @include mixins.fonte-style(12px, 400, variaveis.$texto-secundario);
            }
            .texto__dois-destaques {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-principal);
            }
        }

        .img-destaques {
            width: 100%;
        }

        .parte-inferior-card {
            @include mixins.flex-box(space-between, center);
            padding: 10px 8px;

            .reacoes {
                @include mixins.flex-box(none, center);
                column-gap: 0.5rem;

                .qtd-reacoes {
                    @include mixins.fonte-style(12px, 400, variaveis.$texto-secundario);
                }
            }
            .comentarios {
                @include mixins.fonte-style(12px, 400, variaveis.$texto-secundario);
            }
        }
    }
}

// TERCEIRA SEÇÃO
.atividades {
    margin: 1.5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;

    .titulo-atividades {
        @include mixins.fonte-style(20px, 600, variaveis.$texto-principal);
        line-height: 30px;
    }
    .subtitulo-atividades {
        @include mixins.fonte-style(14px, 500, variaveis.$primario);
        margin-bottom: 1rem;
    }

    .atividades-puclicacao01 {
        @include mixins.flex-box(none, none);
        flex-direction: column;
        row-gap: 0.7rem;

        .atividades-puclicacao__nome {
            @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
            line-height: 30px;
        }

        .imagem-texto-publicacao {
            @include mixins.flex-box(none, center);
            column-gap: 1rem;

            .img-publicacao01 {
                width: 120px;
                max-width: 100%;
            }

            .txt-publicacao01 {
                @include mixins.fonte-style(14px, 400, #fff);
            }
        }

        .reacoes-comentarios-publicacao {
            @include mixins.flex-box(space-between, center);

            .reacoes-publicacao {
                @include mixins.flex-box(flex-start, center);
                column-gap: 0.4rem;

                .qtd-reacoes {
                    @include mixins.fonte-style(12px, 400, variaveis.$texto-secundario);
                }

                img {
                    max-width: 100%;
                }
            }

            .comentarios {
                @include mixins.fonte-style(12px, 400, variaveis.$texto-secundario);
            }
        }

        .linha-divisoria01 {
            border-bottom: 1px solid variaveis.$texto-secundario;
            width: 100%;
        }

        .exibir-todas {
            @include mixins.fonte-style(14px, 500, variaveis.$texto-secundario);
            padding-top: 6px;
            text-align: center;
        }
    }

    .atividades-puclicacao02 {
        @extend .atividades-puclicacao01;
    }
}

// QUARTA SEÇÃO
.sobre {
    margin: 1.5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;

    .titulo-arte {
        @include mixins.fonte-style(20px, 600, variaveis.$texto-principal);
        line-height: 40px;
    }

    .sobre-mim {
        @include mixins.fonte-style(14px, 400, #fff);
        line-height: 20px;
    }
}

// QUINTA SEÇÃO
.experiencias {
    margin: 1.5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;
    color: #fff;
    @include mixins.flex-box(none, none);
    flex-direction: column;
    row-gap: 0.7rem;

    .titulo-experiencias {
        @include mixins.fonte-style(20px, 600, #fff);
        line-height: 40px;
    }

    .empresa-trabalhada-experiencia {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .img-empresa-trabalhada {
            width: 48px;
            max-width: 100%;
        }

        .nome-tempo-trabalhada-experiencia {
            display: flex;
            flex-direction: column;
            row-gap: 0.2rem;

            .nome__empresa-trabalhada-experiencia {
                @include mixins.fonte-style(16px, 600, #fff);
            }

            .tempo__empresa-trabalhada-experiencia {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
            }
        }
    }

    .cargos-experiencias {
        @include mixins.flex-box(none, flex-start);
        flex-direction: column;
        row-gap: 2rem;
        margin-left: 20px;

        .cargo-experiencias {
            display: flex;
            gap: 1.3rem;

            .info-cargo-txt01 {
                @include mixins.fonte-style(20px, 600, variaveis.$texto-principal);
            }

            .info-cargo-txt02 {
                @include mixins.fonte-style(16px, 400, variaveis.$texto-principal);
            }

            .info-cargo-txt03 {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
            }

            .info-cargo-txt04 {
                @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
            }
        }
    }
}

// SEXTA SEÇÃO
.formacao {
    margin: 1.5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;
    color: #fff;

    .titulo-formacao {
        @include mixins.fonte-style(20px, 600, #fff);
        line-height: 40px;
    }

    .formacao-academica {
        display: flex;
        column-gap: 0.8rem;

        .img-formacao-academica {
            width: 48px;
            max-width: 100%
        }

        .formacao-academica__texto01 {
            @include mixins.fonte-style(16px, 600, variaveis.$texto-principal);
            line-height: 20px;
        }

        .formacao-academica__texto02 {
            @include mixins.fonte-style(14px, 400, variaveis.$texto-principal);
            line-height: 16px;
        }

        .formacao-academica__texto03 {
            @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
        }
    }
}

// SÉTIMA SEÇÃO
.idiomas {
    margin: 1.5rem 0 5rem 0;
    padding: 20px 26px;
    border: none;
    border-radius: 16px;
    background-color: variaveis.$fundo-card;
    max-width: 100%;
    width: 100%;
    color: #fff;

    .titulo-idiomas {
        @include mixins.fonte-style(20px, 600, variaveis.$texto-principal);
        line-height: 40px;
    }

    .lista-idiomas {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;

        h4 {
            @include mixins.fonte-style(16px, 600, #FFF);
            line-height: 30px;
        }

        .linha-divisoria-idiomas {
            border-bottom: 1px solid variaveis.$texto-secundario;
        }

        p {
            @include mixins.fonte-style(14px, 400, variaveis.$texto-secundario);
        }
    }
}
