@use "../abstract/variaveis";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: variaveis.$fonte-padrao;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background: #000;
    display: grid;
    grid-template-columns: 10% 55% 25% 10%;
    grid-template-rows: 3% 97%;
    // grid-template-areas:
    //     "header header"
    //     "main aside";
}

.cabecalho {
    grid-area: 1 / 1 / 2 / 5;
}

.conteudo__principal {
    grid-area: 2 / 2 / 3 / 3;
}

// .recomendacoes {
//     grid-area: aside;
// }

a {
    text-decoration: none;
    color: black;
}
