// CORES
    $fundo-escuro: #000;
    $fundo-card: #1d2226;
    $fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    $texto-principal: hsla(0, 0%, 100%, 0.9);
    $texto-secundario: hsla(0, 0%, 100%, 0.6);
    $texto-escuro: hsla(0, 0%, 0%, 0.75);
    $input: #38434f;
    $primario: #70b5f9;
    $positivo: #3ec786;

// FONTES
    $fonte-padrao: 'Roboto', sans-serif;