* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
  display: grid;
  grid-template-areas: "header header" "main aside";
}

.cabecalho {
  grid-area: header;
}

.conteudo__principal {
  grid-area: main;
}

.recomendacoes {
  grid-area: aside;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background: #1d2226;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
header .logo-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
}
header .logo-pesquisa .logo__img {
  max-width: 100%;
  width: 34px;
}
header .logo-pesquisa .input-wrapper {
  padding: 6px 32px;
  gap: 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 4px;
  background: #38434f;
}
header .logo-pesquisa .input-wrapper input {
  border: none;
  background-color: transparent;
}
header .icones-cabecalho {
  display: inline-flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
header .icones-cabecalho .item__menu-cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
  cursor: pointer;
}
header .icones-cabecalho .item__menu-cabecalho .item-linha__menu-cabecalho {
  border-right: 1px solid #fff;
  height: 100%;
}

.painel__perfil {
  margin: 2em 10%;
  border: none;
  border-radius: 16px;
  background-color: #1d2226;
  display: grid;
  grid-template-columns: 5% 20% 25% 50%;
  grid-template-rows: 20% 20% 10% 50%;
}
.painel__perfil .capa-perfil {
  grid-area: 1/1/3/5;
}
.painel__perfil .capa-perfil .img-capa {
  width: 100%;
  max-width: 100%;
}
.painel__perfil .foto-perfil {
  grid-area: 2/2/4/3;
}
.painel__perfil .textos-perfil {
  width: 760px;
  border-radius: 0 0 16px 16px;
  color: #fff;
  text-align: left;
  grid-area: 4/2/5/4;
  padding-top: 2rem;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.painel__perfil .textos-perfil .perfil-nome {
  font-size: 24px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.9);
  line-height: 30px;
}
.painel__perfil .textos-perfil .perfil-titulo {
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.9);
}
.painel__perfil .textos-perfil .perfil-especificacoes {
  font-size: 14px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}
.painel__perfil .textos-perfil .perfil-local {
  font-size: 14px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}
.painel__perfil .textos-perfil .perfil-local span {
  color: #70b5f9;
  font-weight: 700;
}
.painel__perfil .textos-perfil .perfil-seguidores {
  font-size: 14px;
  font-weight: 500;
  color: #70b5f9;
}
.painel__perfil .textos-perfil .perfil-seguidores span {
  color: hsla(0, 0%, 100%, 0.6);
}
.painel__perfil .textos-perfil .botoes {
  margin-top: 1rem;
}
.painel__perfil .textos-perfil .botao-mensagem, .painel__perfil .textos-perfil .botao-mais {
  border: 1px solid #70b5f9;
  border-radius: 16px;
  background: #70b5f9;
  padding: 6px 29px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.painel__perfil .textos-perfil .botao-mais {
  background: #1d2226;
  font-size: 14px;
  font-weight: 500;
  color: #70b5f9;
}
.painel__perfil .textos-perfil .empresa-instituicao {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  row-gap: 0.8rem;
}
.painel__perfil .textos-perfil .empresa-instituicao .links-empresa-instituicao {
  display: flex;
  justify-content: left;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 16px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.9);
}/*# sourceMappingURL=style.css.map */